ROS_DOMAIN_ID=0
DISPLAY=:99
DISPLAY_WIDTH=1440
DISPLAY_HEIGHT=900
DISPLAY_DEPTH=24
NOVNC_LISTEN_HOST=127.0.0.1
NOVNC_PORT=31880
ROS_WS=./ros2_ws
RMW_IMPLEMENTATION=rmw_fastrtps_cpp
LIBGL_ALWAYS_SOFTWARE=1
NO_AT_BRIDGE=1
ROS_DISTRO=humble
VNC_PORT=31901
ROS_SETUP=
